* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    font-size: 16px;
    font-family: josefin sans;
    list-style: none;
}

/* starting Header styling */

.head {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.head h2 a {
    color: black;
    font-size: 30px;
}

.navbar ul {
    margin-right: 200px;
}

.navbar li {
    display: inline;
}

.navbar li a {
    margin: 30px;
    font-size: 16px;
    color: black;
    font-weight: 900;
}

.navbar li a:hover {
    color: rgb(158, 157, 157);
    transition: all 0.3s ease;
    text-decoration: underline;
}

button {
    position: absolute;
    background-color: black;
    margin: 0 0 0 88%;
    padding: 4px;
    width: 100px;
    border-radius: 5px;
}

button a {
    color: grey;
}

button a:hover {
    color: white;
    transition: 0.4s ease;
}

/* Ending header styling  */

/* starting about styling */

main h1 {
    margin: 50px 40px 20px 40px;
    font-size: 35px;
    font-family: math;
    display: inline-block;
}

#p1 {
    margin: 0px 0px 20px 40px;
    color: rgb(118, 118, 118);
    font-size: 20px;
    display: block;
}

#p2 {
    margin: 0px 700px 40px 40px;
    font-size: 20px;
    display: block;
}

#p3 {
    margin: 0px 650px 50px 40px;
    font-size: 20px;
    display: block;
}

img {
    position: absolute;
    margin: 40px 0 0 60%;
    height: 530px;
    width: 440px;
    border-radius: 10px;
}

/* ending about styling */

/* starting footer styling */

.foot a h1 {
    position: absolute;
    color: black;
    font-size: 30px;
    margin: 20px 0 0 100px;
}

.social-links {
    position: absolute;
    margin: 170px 0 0 100px;
}

.social-links .fa-xl {
    font-size: 1.8em;
    margin-left: 15px;
    color: black;
}

.social-links .fa-xl:hover {
    transition: all 0.3s;
    color: darkgray;
}

.topic-page {
    margin: 0px 0px 20px 800px;
}

/* Ending footer styling */